<!DOCTYPE html>
<html>

<head>
    <title>GPU Filters - PyCUDA</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div id="loader" class="loader hidden">
        Procesando imagen, por favor espere...
    </div>


    <div class="container">

        <h1>GPU Filters - PyCUDA</h1>

        <div class="card">
            <form id="form-gpu" enctype="multipart/form-data">

                <label>Seleccione imagen:</label>
                <input type="file" name="imagen" id="input-img" required>

                <label>Filtro:</label>
                <select name="filtro" id="select-filtro">
                    <option value="sobel">Sobel</option>
                    <option value="emboss">Emboss</option>
                    <option value="gauss">Gauss</option>
                    <option value="sharpen">Sharpen</option>
                </select>

                <label>Tamaño kernel:</label>
                <select name="ksize" id="select-ksize">
                    <option value="9">9</option>
                    <option value="21">21</option>
                    <option value="49">49</option>
                </select>

                <label>Configuración de Bloques (GPU):</label>

                <div class="block-grid">
                    <div>
                        <label>Block X</label>
                        <input type="number" id="block_x" name="block_x" value="16" min="1">
                    </div>
                    <div>
                        <label>Block Y</label>
                        <input type="number" id="block_y" name="block_y" value="16" min="1">
                    </div>
                    <div>
                        <label>Block Z</label>
                        <input type="number" id="block_z" name="block_z" value="1" min="1">
                    </div>
                </div>

                <p id="blockWarning" class="warning hidden">
                    ⚠ El número total de hilos por bloque no puede superar 1024.
                </p>
                <div class="presets">
                    <h3>Preconfiguraciones:</h3>
                    <button type="button" id="presetLow" class="preset-btn">Bajo</button>
                    <button type="button" id="presetMed" class="preset-btn">Medio</button>
                    <button type="button" id="presetHigh" class="preset-btn">Alto</button>
                </div>



                <button type="submit">Procesar por GPU</button>
            </form>
        </div>

        <h2>Resultado</h2>

        <div class="images-row">
            <div>
                <p>Original</p>
                <img id="original" class="preview">
            </div>
            <div>
                <p>Procesada</p>
                <img id="resultado" class="preview">
            </div>
        </div>

        <!--PARÁMETROS UTILIZADOS -->
        <div class="card params-card">
            <h2>Parámetros utilizados</h2>
            <div id="parametros-resultado" class="param-box"></div>
        </div>

    </div>
    <button id="btnReset" class="floating-reset">↺</button>
    <!-- Pestaña tipo carpeta -->
    <div id="infoTab" class="info-tab">ℹ️ Info</div>

    <!-- Panel lateral -->
    <div id="infoPanel" class="info-panel">
        <button id="closeInfo" class="close-info">Cerrar</button>

        <h2>Información de filtros</h2>

        <h3>🔵 Sobel</h3>
        <p>Detecta bordes resaltando los cambios fuertes de intensidad en la imagen.</p>
        <p><strong>Parámetros:</strong></p>
        <ul>
            <li><strong>Factor = 2.0:</strong> Amplifica la intensidad del borde detectado.</li>
        </ul>

        <h3>🟠 Emboss</h3>
        <p>Crea un efecto de relieve (3D) en la imagen haciendo que parezca grabada.</p>
        <p><strong>Parámetros:</strong></p>
        <ul>
            <li><strong>Offset = 128:</strong> Reposiciona los valores para que el relief sea visible.</li>
            <li><strong>Factor = 2.0:</strong> Aumenta la intensidad del relieve.</li>
        </ul>

        <h3>🟢 Gaussiano</h3>
        <p>Suaviza la imagen reduciendo ruido, aplicando un desenfoque suave y uniforme.</p>
        <p><strong>Parámetros:</strong></p>
        <ul>
            <li><strong>Sigma = 90.0:</strong> Controla qué tan suave será el desenfoque.<br>
                Un sigma grande = más desenfoque.</li>
        </ul>

        <h3>🔴 Sharpen</h3>
        <p>Aumenta la nitidez destacando bordes y detalles finos.</p>
        <p><strong>Parámetros:</strong></p>
        <ul>
            <li><strong>Intensidad = 20.0:</strong> Controla qué tanto se realza la nitidez.</li>
        </ul>

        <hr>

        <h3>¿Qué es un Kernel?</h3>
        <p>
            Un <strong>kernel</strong> es una pequeña matriz de números que se “desliza” sobre la imagen
            para aplicar un efecto.
            Este proceso se llama <strong>convolución</strong>.
        </p>
        <p>
            El tamaño del kernel (por ejemplo 9×9, 21×21 o 49×49) determina
            cuántos píxeles se usan para calcular el nuevo valor.
            <br><strong>Kernel grande ⇒ efecto más fuerte pero más lento.</strong>
        </p>
    </div>


    <script src="/static/script.js"></script>
</body>

</html>